openapi: 3.1.0
info:
  title: TMDB API
  version: '3'
servers:
  - url: 'https://api.themoviedb.org'
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
security:
  - sec0: []
paths:
  /3/search/movie:
    get:
      summary: Movie
      description: 'Search for movies by their original, translated and alternative titles.'
      operationId: search-movie
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: include_adult
          in: query
          schema:
            type: boolean
            default: false
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: primary_release_year
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: region
          in: query
          schema:
            type: string
        - name: year
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: >-
                    {"page":1,"results":[{"adult":false,"backdrop_path":"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg","genre_ids":[18,53,35],"id":550,"original_language":"en","original_title":"Fight
                    Club","overview":"A ticking-time-bomb insomniac and a
                    slippery soap salesman channel primal male aggression into a
                    shocking new form of therapy. Their concept catches on, with
                    underground \"fight clubs\" forming in every town, until an
                    eccentric gets in the way and ignites an out-of-control
                    spiral toward
                    oblivion.","popularity":73.433,"poster_path":"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg","release_date":"1999-10-15","title":"Fight
                    Club","video":false,"vote_average":8.433,"vote_count":26279},{"adult":false,"backdrop_path":"/1VqE5z4VIOcNcajJuHLk4fDkY9G.jpg","genre_ids":[28,27],"id":289732,"original_language":"zh","original_title":"屍城","overview":"It's
                    the end of the century at a corner of the city in a building
                    riddled with crime - Everyone in the building has turned
                    into zombies. After Jenny's boyfriend is killed in a zombie
                    attack, she faces the challenge of surviving in the face of
                    adversity. In order to stay alive, she struggles with Andy
                    to flee
                    danger.","popularity":15.263,"poster_path":"/u8u3KVq0qfJYmNDsaTVOXy4So6f.jpg","release_date":"2014-10-23","title":"Zombie
                    Fight
                    Club","video":false,"vote_average":4.721,"vote_count":52},{"adult":false,"backdrop_path":null,"genre_ids":[35,18],"id":323667,"original_language":"ru","original_title":"Вставай
                    и бейся","overview":"Intertwined stories from the
                    gladiator/athletes participating to the Calcio Storico
                    Fiorentino yearly
                    championship.","popularity":2.744,"poster_path":"/rPCOC0myV3Vr7nYGMAOAOpUXgH3.jpg","release_date":"2015-06-21","title":"Florence
                    Fight
                    Club","video":false,"vote_average":5.722,"vote_count":9},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":973534,"original_language":"ru","original_title":"Бойцовский
                    клуб (русская версия)","overview":"The Russian version of
                    the movie \"Fight Club\" is not just a Russian version of a
                    well-known cult film, it is the result and of the hard work
                    of two young men and their love for cinema, Alexander Kukhar
                    (GOLOBON-TV) and Dmitry Ivanov (GRIZLIK FILM) , who are
                    responsible for this project, from the development of its
                    idea and the selection of the cast, to the organization of
                    filming and financial support.  Filming lasted a whole year.
                    Everyday work, constant trips, searching for suitable film
                    sets and an exhausting schedule - all this was not in vain
                    and resulted in an unusually amazing and original project -
                    the film \"Fight Club\", created in the very heart of
                    southern Russia, in the city of Krasnodar, by two young
                    people","popularity":0.874,"poster_path":null,"release_date":"","title":"Fight
                    Club (Russian
                    version)","video":false,"vote_average":7.4,"vote_count":6},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":883656,"original_language":"en","original_title":"GCW
                    Fight Club","overview":"GCW presents Fight Club straight
                    from the Showboat Hotel in Atlantic City, NJ! The event
                    features the GCW World Championship match where Mox defends
                    against Gage in a match that we have been waiting for during
                    the last decade. Who will be the new GCW World
                    Champion?","popularity":1.953,"poster_path":"/a9RWdhRLyx3BqCjlwmZJHXyeMkR.jpg","release_date":"2021-10-09","title":"GCW
                    Fight
                    Club","video":true,"vote_average":6.5,"vote_count":5},{"adult":false,"backdrop_path":null,"genre_ids":[28],"id":347807,"original_language":"hi","original_title":"Fight
                    Club: Members Only","overview":"Four friends head off to
                    Bombay and get involved in the mother and father of all gang
                    wars.","popularity":2.26,"poster_path":"/aXFmWfWYCCxQTkCn7K86RvDiMHZ.jpg","release_date":"2006-02-17","title":"Fight
                    Club: Members
                    Only","video":false,"vote_average":4.5,"vote_count":12},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":259016,"original_language":"en","original_title":"Insane
                    Fight Club","overview":"A group of friends have created a
                    brand new subculture that is taking over the streets of
                    Glasgow. They've established their very own fight club, but
                    this is no ordinary wrestling event - this is brutal,
                    riotous chaos. Fights don't always stay inside the ring,
                    people are bounced off the side of buses and thrown off
                    balconies in pubs. They now plan the biggest show of their
                    lives. The stakes are high, will it bring them the fame and
                    recognition they need to
                    survive?","popularity":1.614,"poster_path":null,"release_date":"2014-03-11","title":"Insane
                    Fight
                    Club","video":false,"vote_average":4.333,"vote_count":3},{"adult":false,"backdrop_path":null,"genre_ids":[28,18,80],"id":51021,"original_language":"en","original_title":"Lure:
                    Teen Fight Club","overview":"A community is under siege as
                    three Belmont Highschool coed students go missing with no
                    trace of their whereabouts. The pressure is on the police to
                    capture the culprits responsible. Scouring the school
                    hallways in search of clues, undercover female detective
                    Maggie Rawdon (Jessica Sonnerborn) enters Belmont High as a
                    transfer student in an attempt to solve the hideous
                    disappearance of the students. Maggie makes a few new
                    friends, and gets invited to a private rave in the country.
                    Just as the group begins to suspect that they've taken a
                    wrong turn, however, the trap is sprung and Maggie finds out
                    firsthand what fate has befallen the missing
                    girls.","popularity":0.983,"poster_path":"/ipl6NdM0LwyakzLH9gKBDn8YhmZ.jpg","release_date":"2010-11-16","title":"Lure:
                    Teen Fight
                    Club","video":false,"vote_average":5.556,"vote_count":9},{"adult":false,"backdrop_path":null,"genre_ids":[28,99,12],"id":104782,"original_language":"it","original_title":"Florence
                    Fight Club","overview":"Four men decided to enter in the
                    oldest Fight Club of the History, The Florentine Football
                    tournament. A father and son, a black guy, an old champion
                    and outsider clerk will enter in an arena of the time to win
                    their fears, to go over their limits, to be heroes for a
                    day.","popularity":0.6,"poster_path":null,"release_date":"2010-01-01","title":"Florence
                    Fight
                    Club","video":false,"vote_average":7.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":532155,"original_language":"en","original_title":"Musangwe:
                    Fight Club","overview":"The first rule is that there are no
                    rules. For the bare-knuckle combatants competing in Musangwe
                    fights, anything goes - you can even put a curse on him. The
                    sport, which dates back centuries, has become a South
                    African institution. Any male from the age of nine to ninety
                    can compete. We follow a group of fighters as they slug it
                    out in the ring. Who will be this year's
                    champion?","popularity":0.6,"poster_path":"/tZDxttt0LfgAKwvLIWyOO3fr01c.jpg","release_date":"2007-10-01","title":"Musangwe:
                    Fight
                    Club","video":false,"vote_average":6.25,"vote_count":4},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":289100,"original_language":"en","original_title":"Girls
                    Fight Club","overview":"The best women's wrestling
                    competition of all time...and if you think it's fake you're
                    in for a big surprise See LEGENDARY Mixed Martial Arts
                    fighters coach their teams to victory in the cage! aka Chuck
                    Lidell's Girl's Fight
                    Club","popularity":0.6,"poster_path":null,"release_date":"2009-06-18","title":"Girls
                    Fight
                    Club","video":false,"vote_average":5.25,"vote_count":2},{"adult":false,"backdrop_path":"/lBENxZ1nmHXkTKV0AJu1agnW8Mg.jpg","genre_ids":[],"id":877672,"original_language":"en","original_title":"Superhero
                    Fight Club","overview":"Oliver introduces Barry to his own
                    little fight club which features such members as Roy Harper,
                    Laurel Lance, Malcolm Merlyn and Ra's Al
                    Ghul.","popularity":0.6,"poster_path":"/riAUCTb0NBakJxlBMB801gQlF1j.jpg","release_date":"2015-04-13","title":"Superhero
                    Fight
                    Club","video":false,"vote_average":6.375,"vote_count":9},{"adult":false,"backdrop_path":"/z8MzErK9gYLHgvqYKMapqk7rqyZ.jpg","genre_ids":[],"id":877673,"original_language":"en","original_title":"Superhero
                    Fight Club 2.0","overview":"Barry and Oliver introduce
                    Supergirl to the new fight club, Felicity and Cisco applying
                    additional features to the fight in which The Flash, Green
                    Arrow, Supergirl, White Canary, Firestorm and Atom need to
                    fight to stay
                    alive.","popularity":0.632,"poster_path":"/edt0iegDlAqPddRunIixcpNsja4.jpg","release_date":"2016-09-29","title":"Superhero
                    Fight Club
                    2.0","video":false,"vote_average":6.5,"vote_count":6},{"adult":false,"backdrop_path":null,"genre_ids":[16,35],"id":615408,"original_language":"en","original_title":"Fight
                    Club But With Tennis And No Fight","overview":"Drama
                    descends upon two tennis-obsessed women as the tension moves
                    from off the court and into the
                    café.","popularity":0.6,"poster_path":"/8pEQqVtSpgCtb7dzhR55EO1dC3l.jpg","release_date":"2019-07-13","title":"Fight
                    Club But With Tennis And No
                    Fight","video":false,"vote_average":7.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":969532,"original_language":"en","original_title":"GCW:
                    Fight Club Houston","overview":"On July 9th GCW presents
                    Fight Club Houston straight from Premier Arena in Houston,
                    Texas. The lineup is almost completed, check it below:  AJ
                    Gray vs Bryan Keith  Nick Gage vs Sadika  Joey Janela vs
                    Dante  Ninja Mack vs Jack Cartwheel  Effy vs Gino  Jimmy
                    Lloyd vs Carter  Lucha Scramble  .... more to be added
                    soon!","popularity":0.6,"poster_path":"/353CATo61TQERENVF6AqIqhUD51.jpg","release_date":"2021-07-09","title":"GCW:
                    Fight Club
                    Houston","video":true,"vote_average":5.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":944789,"original_language":"en","original_title":"Leopard
                    Fight Club","overview":"Witness a remarkable coming-of-age
                    story as we track a young leopard's journey from rookie to
                    royalty in South Africa's lethal Big Five landscape. When we
                    first meet Jack, he's clumsy, fearful, and weak, but he's a
                    fast learner - and he'll need to be. He's destined for a
                    showdown with the area's current leopard monarch, an alpha
                    male with a real mean streak. We follow Jack as he hones his
                    skills and builds up muscle for the ultimate catfight. It's
                    a battle where only the winner will walk out
                    alive.","popularity":0.6,"poster_path":"/pNhu0kvxvBJhpzDEwKf9Zdphbfg.jpg","release_date":"","title":"Leopard
                    Fight
                    Club","video":false,"vote_average":6.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":151912,"original_language":"en","original_title":"Jurassic
                    Fight Club","overview":"Jurassic Fight Club, a
                    paleontology-based miniseries that ran for 12 episodes,
                    depicts how prehistoric beasts hunted their prey, dissecting
                    these battles and uncovering a predatory world far more
                    calculated and complex than originally thought. It was
                    hosted by George Blasing, a self-taught
                    paleontologist.","popularity":0.742,"poster_path":null,"release_date":"2008-10-22","title":"Jurassic
                    Fight
                    Club","video":false,"vote_average":7.4,"vote_count":5},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":322772,"original_language":"en","original_title":"Insane
                    Fight Club II - This Time It’s Personal","overview":"Insane
                    Fight Club is back. This year the boys are taking their
                    unique form of entertainment to England as they stage fight
                    nights in Birmingham, Leeds, Liverpool and
                    Newcastle.","popularity":2.348,"poster_path":null,"release_date":"2015-01-21","title":"Insane
                    Fight Club II - This Time It’s
                    Personal","video":false,"vote_average":7.0,"vote_count":2},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":818666,"original_language":"en","original_title":"Triller
                    Fight Club: Jake Paul vs Ben Askren","overview":"Jake Paul
                    vs. Ben Askren is an professional boxing match between
                    YouTuber Jake Paul and former MMA fighter Ben Askren.  The
                    bout took take place on April 17, 2021, at the Mercedes-Benz
                    Stadium in Atlanta,
                    Georgia.","popularity":1.467,"poster_path":"/pFxHnZhetfHpXlcYTNTFZFt6pBq.jpg","release_date":"2021-04-17","title":"Triller
                    Fight Club: Jake Paul vs Ben
                    Askren","video":true,"vote_average":5.0,"vote_count":3},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":935845,"original_language":"en","original_title":"GCW:
                    Fight Club 2 Houston","overview":"Are you ready for the GCW:
                    Fight Club 2?  On February 4th GCW: Fight Club 2 is live on
                    FITE straight from Houston Premier Arena, TX!  Check the
                    full lineup below:  4-way match  Mascara Dorada vs Gringo
                    Loco vs Blake Christian vs ASF  Atticus Cogar vs Gino
                    Medina  All-Star Scramble  Matthew Justice vs Allie Katch vs
                    Grim Reefer vs Jimmy Lloyd vs Jordan Oliver vs Chris Carter 
                    GCW Extreme Championship  AJ Gray vs Mysterious Q  Bryan
                    Keith vs Effy  Ninja Mack vs Nick Wayne  Loko Wrestling
                    Championship  Dante Leon vs Sam Stackhouse  Matt Tremont vs
                    Sadika  *lineup subject to
                    change","popularity":0.6,"poster_path":"/bPPvoNxWcoqSvw0SnigOZpcxKmN.jpg","release_date":"2022-02-04","title":"GCW:
                    Fight Club 2
                    Houston","video":true,"vote_average":8.0,"vote_count":1}],"total_pages":2,"total_results":39}
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 18
                            default: 0
                        id:
                          type: integer
                          example: 550
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Fight Club
                        overview:
                          type: string
                          example: >-
                            A ticking-time-bomb insomniac and a slippery soap
                            salesman channel primal male aggression into a
                            shocking new form of therapy. Their concept catches
                            on, with underground "fight clubs" forming in every
                            town, until an eccentric gets in the way and ignites
                            an out-of-control spiral toward oblivion.
                        popularity:
                          type: number
                          example: 73.433
                          default: 0
                        poster_path:
                          type: string
                          example: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                        release_date:
                          type: string
                          example: '1999-10-15'
                        title:
                          type: string
                          example: Fight Club
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 8.433
                          default: 0
                        vote_count:
                          type: integer
                          example: 26279
                          default: 0
                  total_pages:
                    type: integer
                    example: 2
                    default: 0
                  total_results:
                    type: integer
                    example: 39
                    default: 0
      deprecated: false
  /3/discover/movie:
    get:
      summary: Movie
      description: Find movies using over 30 filters and sort options.
      operationId: discover-movie
      parameters:
        - name: certification
          in: query
          description: use in conjunction with `region`
          schema:
            type: string
        - name: certification.gte
          in: query
          description: use in conjunction with `region`
          schema:
            type: string
        - name: certification.lte
          in: query
          description: use in conjunction with `region`
          schema:
            type: string
        - name: certification_country
          in: query
          description: >-
            use in conjunction with the `certification`, `certification.gte` and
            `certification.lte` filters
          schema:
            type: string
        - name: include_adult
          in: query
          schema:
            type: boolean
            default: false
        - name: include_video
          in: query
          schema:
            type: boolean
            default: false
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: primary_release_year
          in: query
          schema:
            type: integer
            format: int32
        - name: primary_release_date.gte
          in: query
          schema:
            type: string
            format: date
        - name: primary_release_date.lte
          in: query
          schema:
            type: string
            format: date
        - name: region
          in: query
          schema:
            type: string
        - name: release_date.gte
          in: query
          schema:
            type: string
            format: date
        - name: release_date.lte
          in: query
          schema:
            type: string
            format: date
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - original_title.asc
              - original_title.desc
              - popularity.asc
              - popularity.desc
              - revenue.asc
              - revenue.desc
              - primary_release_date.asc
              - title.asc
              - title.desc
              - primary_release_date.desc
              - vote_average.asc
              - vote_average.desc
              - vote_count.asc
              - vote_count.desc
            default: popularity.desc
        - name: vote_average.gte
          in: query
          schema:
            type: number
            format: float
        - name: vote_average.lte
          in: query
          schema:
            type: number
            format: float
        - name: vote_count.gte
          in: query
          schema:
            type: number
            format: float
        - name: vote_count.lte
          in: query
          schema:
            type: number
            format: float
        - name: watch_region
          in: query
          description: >-
            use in conjunction with `with_watch_monetization_types ` or
            `with_watch_providers `
          schema:
            type: string
        - name: with_cast
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_companies
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_crew
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_genres
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_keywords
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_origin_country
          in: query
          schema:
            type: string
        - name: with_original_language
          in: query
          schema:
            type: string
        - name: with_people
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_release_type
          in: query
          description: >-
            possible values are: [1, 2, 3, 4, 5, 6] can be a comma (`AND`) or
            pipe (`OR`) separated query, can be used in conjunction with
            `region`
          schema:
            type: integer
            format: int32
        - name: with_runtime.gte
          in: query
          schema:
            type: integer
            format: int32
        - name: with_runtime.lte
          in: query
          schema:
            type: integer
            format: int32
        - name: with_watch_monetization_types
          in: query
          description: >-
            possible values are: [flatrate, free, ads, rent, buy] use in
            conjunction with `watch_region`, can be a comma (`AND`) or pipe
            (`OR`) separated query
          schema:
            type: string
        - name: with_watch_providers
          in: query
          description: >-
            use in conjunction with `watch_region`, can be a comma (`AND`) or
            pipe (`OR`) separated query
          schema:
            type: string
        - name: without_companies
          in: query
          schema:
            type: string
        - name: without_genres
          in: query
          schema:
            type: string
        - name: without_keywords
          in: query
          schema:
            type: string
        - name: without_watch_providers
          in: query
          schema:
            type: string
        - name: year
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: >-
                    {"page":1,"results":[{"adult":false,"backdrop_path":"/8YFL5QQVPy3AgrEQxNYVSgiPEbe.jpg","genre_ids":[28,12,878],"id":640146,"original_language":"en","original_title":"Ant-Man
                    and the Wasp: Quantumania","overview":"Super-Hero partners
                    Scott Lang and Hope van Dyne, along with with Hope's parents
                    Janet van Dyne and Hank Pym, and Scott's daughter Cassie
                    Lang, find themselves exploring the Quantum Realm,
                    interacting with strange new creatures and embarking on an
                    adventure that will push them beyond the limits of what they
                    thought
                    possible.","popularity":9272.643,"poster_path":"/ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg","release_date":"2023-02-15","title":"Ant-Man
                    and the Wasp:
                    Quantumania","video":false,"vote_average":6.5,"vote_count":1856},{"adult":false,"backdrop_path":"/iJQIbOPm81fPEGKt5BPuZmfnA54.jpg","genre_ids":[16,12,10751,14,35],"id":502356,"original_language":"en","original_title":"The
                    Super Mario Bros. Movie","overview":"While working
                    underground to fix a water main, Brooklyn plumbers—and
                    brothers—Mario and Luigi are transported down a mysterious
                    pipe and wander into a magical new world. But when the
                    brothers are separated, Mario embarks on an epic quest to
                    find
                    Luigi.","popularity":7212.464,"poster_path":"/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg","release_date":"2023-04-05","title":"The
                    Super Mario Bros.
                    Movie","video":false,"vote_average":7.5,"vote_count":1435},{"adult":false,"backdrop_path":"/nDxJJyA5giRhXx96q1sWbOUjMBI.jpg","genre_ids":[28,35,14],"id":594767,"original_language":"en","original_title":"Shazam!
                    Fury of the Gods","overview":"Billy Batson and his foster
                    siblings, who transform into superheroes by saying
                    \"Shazam!\", are forced to get back into action and fight
                    the Daughters of Atlas, who they must stop from using a
                    weapon that could destroy the
                    world.","popularity":4319.273,"poster_path":"/2VK4d3mqqTc7LVZLnLPeRiPaJ71.jpg","release_date":"2023-03-15","title":"Shazam!
                    Fury of the
                    Gods","video":false,"vote_average":6.8,"vote_count":1203},{"adult":false,"backdrop_path":"/ovM06PdF3M8wvKb06i4sjW3xoww.jpg","genre_ids":[878,12,28],"id":76600,"original_language":"en","original_title":"Avatar:
                    The Way of Water","overview":"Set more than a decade after
                    the events of the first film, learn the story of the Sully
                    family (Jake, Neytiri, and their kids), the trouble that
                    follows them, the lengths they go to keep each other safe,
                    the battles they fight to stay alive, and the tragedies they
                    endure.","popularity":3471.132,"poster_path":"/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg","release_date":"2022-12-14","title":"Avatar:
                    The Way of
                    Water","video":false,"vote_average":7.7,"vote_count":7519},{"adult":false,"backdrop_path":"/xwA90BwZXTh8ke3CVsQlj8EOkFr.jpg","genre_ids":[28,12,36,18,10752],"id":948713,"original_language":"en","original_title":"The
                    Last Kingdom: Seven Kings Must Die","overview":"In the wake
                    of King Edward's death, Uhtred of Bebbanburg and his
                    comrades adventure across a fractured kingdom in the hopes
                    of uniting England at
                    last.","popularity":3162.414,"poster_path":"/7yyFEsuaLGTPul5UkHc5BhXnQ0k.jpg","release_date":"2023-04-14","title":"The
                    Last Kingdom: Seven Kings Must
                    Die","video":false,"vote_average":7.4,"vote_count":226},{"adult":false,"backdrop_path":"/5i6SjyDbDWqyun8klUuCxrlFbyw.jpg","genre_ids":[18,28],"id":677179,"original_language":"en","original_title":"Creed
                    III","overview":"After dominating the boxing world, Adonis
                    Creed has been thriving in both his career and family life.
                    When a childhood friend and former boxing prodigy, Damian
                    Anderson, resurfaces after serving a long sentence in
                    prison, he is eager to prove that he deserves his shot in
                    the ring. The face-off between former friends is more than
                    just a fight. To settle the score, Adonis must put his
                    future on the line to battle Damian — a fighter who has
                    nothing to
                    lose.","popularity":2865.256,"poster_path":"/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg","release_date":"2023-03-01","title":"Creed
                    III","video":false,"vote_average":7.3,"vote_count":1183},{"adult":false,"backdrop_path":"/7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg","genre_ids":[27,53],"id":713704,"original_language":"en","original_title":"Evil
                    Dead Rise","overview":"Two sisters find an ancient vinyl
                    that gives birth to bloodthirsty demons that run amok in a
                    Los Angeles apartment building and thrusts them into a
                    primal battle for survival as they face the most nightmarish
                    version of family
                    imaginable.","popularity":1898.367,"poster_path":"/mIBCtPvKZQlxubxKMeViO2UrP3q.jpg","release_date":"2023-04-12","title":"Evil
                    Dead
                    Rise","video":false,"vote_average":6.9,"vote_count":192},{"adult":false,"backdrop_path":"/bT3IpP7OopgiVuy6HCPOWLuaFAd.jpg","genre_ids":[35,9648,28],"id":638974,"original_language":"en","original_title":"Murder
                    Mystery 2","overview":"After starting their own detective
                    agency, Nick and Audrey Spitz land a career-making case when
                    their billionaire pal is kidnapped from his
                    wedding.","popularity":1855.858,"poster_path":"/s1VzVhXlqsevi8zeCMG9A16nEUf.jpg","release_date":"2023-03-28","title":"Murder
                    Mystery
                    2","video":false,"vote_average":6.6,"vote_count":856},{"adult":false,"backdrop_path":"/ouB7hwclG7QI3INoYJHaZL4vOaa.jpg","genre_ids":[16,10751,14,12,35,18],"id":315162,"original_language":"en","original_title":"Puss
                    in Boots: The Last Wish","overview":"Puss in Boots discovers
                    that his passion for adventure has taken its toll: He has
                    burned through eight of his nine lives, leaving him with
                    only one life left. Puss sets out on an epic journey to find
                    the mythical Last Wish and restore his nine
                    lives.","popularity":1407.152,"poster_path":"/kuf6dutpsT0vSVehic3EZIqkOBt.jpg","release_date":"2022-12-07","title":"Puss
                    in Boots: The Last
                    Wish","video":false,"vote_average":8.3,"vote_count":5326},{"adult":false,"backdrop_path":"/h8gHn0OzBoaefsYseUByqsmEDMY.jpg","genre_ids":[28,53,80],"id":603692,"original_language":"en","original_title":"John
                    Wick: Chapter 4","overview":"With the price on his head ever
                    increasing, John Wick uncovers a path to defeating The High
                    Table. But before he can earn his freedom, Wick must face
                    off against a new enemy with powerful alliances across the
                    globe and forces that turn old friends into
                    foes.","popularity":1312.743,"poster_path":"/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg","release_date":"2023-03-22","title":"John
                    Wick: Chapter
                    4","video":false,"vote_average":8,"vote_count":1202},{"adult":false,"backdrop_path":"/nDmPjKLqLwWyd4Ssti8HCdhW5cZ.jpg","genre_ids":[28],"id":1048300,"original_language":"en","original_title":"Adrenaline","overview":"A
                    female FBI agent holidaying in Eastern Europe with her
                    family gets her life upside down when her daughter is
                    kidnapped. She has to team up with a criminal on the run to
                    save her daughter before time runs
                    out.","popularity":1269.765,"poster_path":"/qVzRt8c2v4gGBYsnaflXVVeQ9Lh.jpg","release_date":"2022-12-15","title":"Adrenaline","video":false,"vote_average":4,"vote_count":4},{"adult":false,"backdrop_path":"/a2tys4sD7xzVaogPntGsT1ypVoT.jpg","genre_ids":[53,35,80],"id":804150,"original_language":"en","original_title":"Cocaine
                    Bear","overview":"Inspired by a true story, an oddball group
                    of cops, criminals, tourists and teens converge in a Georgia
                    forest where a 500-pound black bear goes on a murderous
                    rampage after unintentionally ingesting
                    cocaine.","popularity":1223.954,"poster_path":"/gOnmaxHo0412UVr1QM5Nekv1xPi.jpg","release_date":"2023-02-22","title":"Cocaine
                    Bear","video":false,"vote_average":6.4,"vote_count":873},{"adult":false,"backdrop_path":"/54IXMMEQKlkPXHqPExWy98UBmtE.jpg","genre_ids":[27],"id":1008005,"original_language":"es","original_title":"La
                    niña de la comunión","overview":"Spain, late 1980s. Newcomer
                    Sara tries to fit in with the other teens in this tight-knit
                    small town in the province of Tarragona. If only she were
                    more like her extroverted best friend, Rebe. They go out one
                    night at a nightclub, on the way home, they come upon a
                    little girl holding a doll, dressed for her first communion.
                    And that's when the nightmare
                    begins.","popularity":1191.393,"poster_path":"/sP6AO11a7jWgsmT9T8j9EGIWAaZ.jpg","release_date":"2023-02-10","title":"The
                    Communion
                    Girl","video":false,"vote_average":6.3,"vote_count":55},{"adult":false,"backdrop_path":"/eSVu1FvGPy86TDo4hQbpuHx55DJ.jpg","genre_ids":[878,12,53,28],"id":700391,"original_language":"en","original_title":"65","overview":"65
                    million years ago, the only 2 survivors of a spaceship from
                    Somaris that crash-landed on Earth must fend off dinosaurs
                    and reach the escape vessel in time before an imminent
                    asteroid strike threatens to destroy the
                    planet.","popularity":1189.997,"poster_path":"/rzRb63TldOKdKydCvWJM8B6EkPM.jpg","release_date":"2023-03-02","title":"65","video":false,"vote_average":6.3,"vote_count":752},{"adult":false,"backdrop_path":"/tFaC1Fb1sv1dALB0i9Avi76MHmn.jpg","genre_ids":[10751,28,12],"id":946310,"original_language":"nl","original_title":"De
                    Piraten van Hiernaast II: De Ninja's van de
                    Overkant","overview":"The pirates feel right at home in
                    Sandborough, but the atmosphere cools right down when the
                    ninjas come to live in the street. After all, pirates and
                    ninjas are sworn enemies!  While pirate captain Hector
                    Blunderbuss struggles to get rid of his new neighbours, son
                    Billy and ninja daughter Yuka become friends. The pirates
                    challenge the ninjas to the ultimate battle at the village's
                    annual hexathlon. Who will win the match? Ninjas are faster
                    and more agile of course, but pirates are the best cheats in
                    all of the seven
                    seas...","popularity":1145.777,"poster_path":"/uDsvma9dAwnDPVuCFi99YpWvBk0.jpg","release_date":"2022-04-20","title":"Pirates
                    Down the Street II: The Ninjas from
                    Across","video":false,"vote_average":6.2,"vote_count":21},{"adult":false,"backdrop_path":"/rPSJAElGxOTko1zK6uIlYnTMFxN.jpg","genre_ids":[80],"id":1104040,"original_language":"en","original_title":"Gangs
                    of Lagos","overview":"A group of friends who each have to
                    navigate their own destiny, growing up on the bustling
                    streets and neighborhood of Isale Eko,
                    Lagos.","popularity":1133.317,"poster_path":"/nGwFsB6EXUCr21wzPgtP5juZPSv.jpg","release_date":"2023-04-07","title":"Gangs
                    of
                    Lagos","video":false,"vote_average":5.6,"vote_count":20},{"adult":false,"backdrop_path":"/5Y5pz0NX7SZS9036I733F7uNcwK.jpg","genre_ids":[27,53],"id":758323,"original_language":"en","original_title":"The
                    Pope's Exorcist","overview":"Father Gabriele Amorth, Chief
                    Exorcist of the Vatican, investigates a young boy's
                    terrifying possession and ends up uncovering a centuries-old
                    conspiracy the Vatican has desperately tried to keep
                    hidden.","popularity":1103.242,"poster_path":"/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg","release_date":"2023-04-05","title":"The
                    Pope's
                    Exorcist","video":false,"vote_average":6.5,"vote_count":142},{"adult":false,"backdrop_path":"/m1fgGSLK0WvRpzM1AmZu38m0Tx8.jpg","genre_ids":[28],"id":842945,"original_language":"en","original_title":"Supercell","overview":"Good-hearted
                    teenager William always lived in hope of following in his
                    late father’s footsteps and becoming a storm chaser. His
                    father’s legacy has now been turned into a storm-chasing
                    tourist business, managed by the greedy and reckless Zane
                    Rogers, who is now using William as the main attraction to
                    lead a group of unsuspecting adventurers deep into the eye
                    of the most dangerous supercell ever
                    seen.","popularity":962.106,"poster_path":"/gbGHezV6yrhua0KfAgwrknSOiIY.jpg","release_date":"2023-03-17","title":"Supercell","video":false,"vote_average":6.4,"vote_count":122},{"adult":false,"backdrop_path":"/tYcmm8XtzRdcT6kliCbHuWwLCwB.jpg","genre_ids":[28,80,53],"id":849869,"original_language":"ko","original_title":"길복순","overview":"At
                    work, she's a renowned assassin. At home, she's a single mom
                    to a teenage daughter. Killing? That's easy. It's parenting
                    that's the hard
                    part.","popularity":956.601,"poster_path":"/taYgn3RRpCGlTGdaGQvnSIOzXFy.jpg","release_date":"2023-02-17","title":"Kill
                    Boksoon","video":false,"vote_average":6.8,"vote_count":184},{"adult":false,"backdrop_path":"/eNJhWy7xFzR74SYaSJHqJZuroDm.jpg","genre_ids":[28,878],"id":1033219,"original_language":"en","original_title":"Attack
                    on Titan","overview":"As viable water is depleted on Earth,
                    a mission is sent to Saturn's moon Titan to retrieve
                    sustainable H2O reserves from its alien inhabitants. But
                    just as the humans acquire the precious resource, they are
                    attacked by Titan rebels, who don't trust that the
                    Earthlings will leave in
                    peace.","popularity":875.796,"poster_path":"/qNz4l8UgTkD8rlqiKZ556pCJ9iO.jpg","release_date":"2022-09-30","title":"Attack
                    on
                    Titan","video":false,"vote_average":6.1,"vote_count":104}],"total_pages":38020,"total_results":760385}
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /8YFL5QQVPy3AgrEQxNYVSgiPEbe.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 28
                            default: 0
                        id:
                          type: integer
                          example: 640146
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: 'Ant-Man and the Wasp: Quantumania'
                        overview:
                          type: string
                          example: >-
                            Super-Hero partners Scott Lang and Hope van Dyne,
                            along with with Hope's parents Janet van Dyne and
                            Hank Pym, and Scott's daughter Cassie Lang, find
                            themselves exploring the Quantum Realm, interacting
                            with strange new creatures and embarking on an
                            adventure that will push them beyond the limits of
                            what they thought possible.
                        popularity:
                          type: number
                          example: 9272.643
                          default: 0
                        poster_path:
                          type: string
                          example: /ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg
                        release_date:
                          type: string
                          example: '2023-02-15'
                        title:
                          type: string
                          example: 'Ant-Man and the Wasp: Quantumania'
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 6.5
                          default: 0
                        vote_count:
                          type: integer
                          example: 1856
                          default: 0
                  total_pages:
                    type: integer
                    example: 38020
                    default: 0
                  total_results:
                    type: integer
                    example: 760385
                    default: 0
      deprecated: false
  '/3/movie/{movie_id}':
    get:
      summary: Details
      description: Get the top level details of a movie by ID.
      operationId: movie-details
      parameters:
        - name: movie_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: append_to_response
          in: query
          description: >-
            comma separated list of endpoints within this namespace, 20 items
            max
          schema:
            type: string
        - name: language
          in: query
          schema:
            type: string
            default: en-US
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: >-
                    {"adult":false,"backdrop_path":"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg","belongs_to_collection":null,"budget":63000000,"genres":[{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"},{"id":35,"name":"Comedy"}],"homepage":"http://www.foxmovies.com/movies/fight-club","id":550,"imdb_id":"tt0137523","original_language":"en","original_title":"Fight
                    Club","overview":"A ticking-time-bomb insomniac and a
                    slippery soap salesman channel primal male aggression into a
                    shocking new form of therapy. Their concept catches on, with
                    underground \"fight clubs\" forming in every town, until an
                    eccentric gets in the way and ignites an out-of-control
                    spiral toward
                    oblivion.","popularity":61.416,"poster_path":"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg","production_companies":[{"id":508,"logo_path":"/7cxRWzi4LsVm4Utfpr1hfARNurT.png","name":"Regency
                    Enterprises","origin_country":"US"},{"id":711,"logo_path":"/tEiIH5QesdheJmDAqQwvtN60727.png","name":"Fox
                    2000
                    Pictures","origin_country":"US"},{"id":20555,"logo_path":"/hD8yEGUBlHOcfHYbujp71vD8gZp.png","name":"Taurus
                    Film","origin_country":"DE"},{"id":54051,"logo_path":null,"name":"Atman
                    Entertainment","origin_country":""},{"id":54052,"logo_path":null,"name":"Knickerbocker
                    Films","origin_country":"US"},{"id":4700,"logo_path":"/A32wmjrs9Psf4zw0uaixF0GXfxq.png","name":"The
                    Linson
                    Company","origin_country":"US"},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th
                    Century
                    Fox","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
                    States of
                    America"}],"release_date":"1999-10-15","revenue":100853753,"runtime":139,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Mischief.
                    Mayhem. Soap.","title":"Fight
                    Club","video":false,"vote_average":8.433,"vote_count":26280}
              schema:
                type: object
                properties:
                  adult:
                    type: boolean
                    example: false
                    default: true
                  backdrop_path:
                    type: string
                    example: /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
                  belongs_to_collection: {}
                  budget:
                    type: integer
                    example: 63000000
                    default: 0
                  genres:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 18
                          default: 0
                        name:
                          type: string
                          example: Drama
                  homepage:
                    type: string
                    example: 'http://www.foxmovies.com/movies/fight-club'
                  id:
                    type: integer
                    example: 550
                    default: 0
                  imdb_id:
                    type: string
                    example: tt0137523
                  original_language:
                    type: string
                    example: en
                  original_title:
                    type: string
                    example: Fight Club
                  overview:
                    type: string
                    example: >-
                      A ticking-time-bomb insomniac and a slippery soap salesman
                      channel primal male aggression into a shocking new form of
                      therapy. Their concept catches on, with underground "fight
                      clubs" forming in every town, until an eccentric gets in
                      the way and ignites an out-of-control spiral toward
                      oblivion.
                  popularity:
                    type: number
                    example: 61.416
                    default: 0
                  poster_path:
                    type: string
                    example: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                  production_companies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 508
                          default: 0
                        logo_path:
                          type: string
                          example: /7cxRWzi4LsVm4Utfpr1hfARNurT.png
                        name:
                          type: string
                          example: Regency Enterprises
                        origin_country:
                          type: string
                          example: US
                  production_countries:
                    type: array
                    items:
                      type: object
                      properties:
                        iso_3166_1:
                          type: string
                          example: US
                        name:
                          type: string
                          example: United States of America
                  release_date:
                    type: string
                    example: '1999-10-15'
                  revenue:
                    type: integer
                    example: 100853753
                    default: 0
                  runtime:
                    type: integer
                    example: 139
                    default: 0
                  spoken_languages:
                    type: array
                    items:
                      type: object
                      properties:
                        english_name:
                          type: string
                          example: English
                        iso_639_1:
                          type: string
                          example: en
                        name:
                          type: string
                          example: English
                  status:
                    type: string
                    example: Released
                  tagline:
                    type: string
                    example: Mischief. Mayhem. Soap.
                  title:
                    type: string
                    example: Fight Club
                  video:
                    type: boolean
                    example: false
                    default: true
                  vote_average:
                    type: number
                    example: 8.433
                    default: 0
                  vote_count:
                    type: integer
                    example: 26280
                    default: 0
      deprecated: false
  '/3/tv/{series_id}':
    get:
      summary: Details
      description: Get the details of a TV show.
      operationId: tv-series-details
      parameters:
        - name: series_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: append_to_response
          in: query
          description: >-
            comma separated list of endpoints within this namespace, 20 items
            max
          schema:
            type: string
        - name: language
          in: query
          schema:
            type: string
            default: en-US
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "adult": false,
                      "backdrop_path": "/6LWy0jvMpmjoS9fojNgHIKoWL05.jpg",
                      "created_by": [
                        {
                          "id": 9813,
                          "credit_id": "5256c8c219c2956ff604858a",
                          "name": "David Benioff",
                          "gender": 2,
                          "profile_path": "/xvNN5huL0X8yJ7h3IZfGG4O2zBD.jpg"
                        },
                        {
                          "id": 228068,
                          "credit_id": "552e611e9251413fea000901",
                          "name": "D.B. Weiss",
                          "gender": 2,
                          "profile_path": "/2RMejaT793U9KRk2IEbFfteQntE.jpg"
                        }
                      ],
                      "episode_run_time": [
                        60
                      ],
                      "first_air_date": "2011-04-17",
                      "genres": [
                        {
                          "id": 10765,
                          "name": "Sci-Fi & Fantasy"
                        },
                        {
                          "id": 18,
                          "name": "Drama"
                        },
                        {
                          "id": 10759,
                          "name": "Action & Adventure"
                        }
                      ],
                      "homepage": "http://www.hbo.com/game-of-thrones",
                      "id": 1399,
                      "in_production": false,
                      "languages": [
                        "en"
                      ],
                      "last_air_date": "2019-05-19",
                      "last_episode_to_air": {
                        "id": 1551830,
                        "name": "The Iron Throne",
                        "overview": "In the aftermath of the devastating attack on King's Landing, Daenerys must face the survivors.",
                        "vote_average": 4.809,
                        "vote_count": 241,
                        "air_date": "2019-05-19",
                        "episode_number": 6,
                        "production_code": "806",
                        "runtime": 80,
                        "season_number": 8,
                        "show_id": 1399,
                        "still_path": "/zBi2O5EJfgTS6Ae0HdAYLm9o2nf.jpg"
                      },
                      "name": "Game of Thrones",
                      "next_episode_to_air": null,
                      "networks": [
                        {
                          "id": 49,
                          "logo_path": "/tuomPhY2UtuPTqqFnKMVHvSb724.png",
                          "name": "HBO",
                          "origin_country": "US"
                        }
                      ],
                      "number_of_episodes": 73,
                      "number_of_seasons": 8,
                      "origin_country": [
                        "US"
                      ],
                      "original_language": "en",
                      "original_name": "Game of Thrones",
                      "overview": "Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night's Watch, is all that stands between the realms of men and icy horrors beyond.",
                      "popularity": 346.098,
                      "poster_path": "/1XS1oqL89opfnbLl8WnZY1O1uJx.jpg",
                      "production_companies": [
                        {
                          "id": 76043,
                          "logo_path": "/9RO2vbQ67otPrBLXCaC8UMp3Qat.png",
                          "name": "Revolution Sun Studios",
                          "origin_country": "US"
                        },
                        {
                          "id": 12525,
                          "logo_path": null,
                          "name": "Television 360",
                          "origin_country": ""
                        },
                        {
                          "id": 5820,
                          "logo_path": null,
                          "name": "Generator Entertainment",
                          "origin_country": "GB"
                        },
                        {
                          "id": 12526,
                          "logo_path": null,
                          "name": "Bighead Littlehead",
                          "origin_country": ""
                        }
                      ],
                      "production_countries": [
                        {
                          "iso_3166_1": "GB",
                          "name": "United Kingdom"
                        },
                        {
                          "iso_3166_1": "US",
                          "name": "United States of America"
                        }
                      ],
                      "seasons": [
                        {
                          "air_date": "2010-12-05",
                          "episode_count": 272,
                          "id": 3627,
                          "name": "Specials",
                          "overview": "",
                          "poster_path": "/kMTcwNRfFKCZ0O2OaBZS0nZ2AIe.jpg",
                          "season_number": 0,
                          "vote_average": 0
                        },
                        {
                          "air_date": "2011-04-17",
                          "episode_count": 10,
                          "id": 3624,
                          "name": "Season 1",
                          "overview": "Trouble is brewing in the Seven Kingdoms of Westeros. For the driven inhabitants of this visionary world, control of Westeros' Iron Throne holds the lure of great power. But in a land where the seasons can last a lifetime, winter is coming...and beyond the Great Wall that protects them, an ancient evil has returned. In Season One, the story centers on three primary areas: the Stark and the Lannister families, whose designs on controlling the throne threaten a tenuous peace; the dragon princess Daenerys, heir to the former dynasty, who waits just over the Narrow Sea with her malevolent brother Viserys; and the Great Wall--a massive barrier of ice where a forgotten danger is stirring.",
                          "poster_path": "/wgfKiqzuMrFIkU1M68DDDY8kGC1.jpg",
                          "season_number": 1,
                          "vote_average": 8.3
                        },
                        {
                          "air_date": "2012-04-01",
                          "episode_count": 10,
                          "id": 3625,
                          "name": "Season 2",
                          "overview": "The cold winds of winter are rising in Westeros...war is coming...and five kings continue their savage quest for control of the all-powerful Iron Throne. With winter fast approaching, the coveted Iron Throne is occupied by the cruel Joffrey, counseled by his conniving mother Cersei and uncle Tyrion. But the Lannister hold on the Throne is under assault on many fronts. Meanwhile, a new leader is rising among the wildings outside the Great Wall, adding new perils for Jon Snow and the order of the Night's Watch.",
                          "poster_path": "/9xfNkPwDOqyeUvfNhs1XlWA0esP.jpg",
                          "season_number": 2,
                          "vote_average": 8.2
                        },
                        {
                          "air_date": "2013-03-31",
                          "episode_count": 10,
                          "id": 3626,
                          "name": "Season 3",
                          "overview": "Duplicity and treachery...nobility and honor...conquest and triumph...and, of course, dragons. In Season 3, family and loyalty are the overarching themes as many critical storylines from the first two seasons come to a brutal head. Meanwhile, the Lannisters maintain their hold on King's Landing, though stirrings in the North threaten to alter the balance of power; Robb Stark, King of the North, faces a major calamity as he tries to build on his victories; a massive army of wildlings led by Mance Rayder march for the Wall; and Daenerys Targaryen--reunited with her dragons--attempts to raise an army in her quest for the Iron Throne.",
                          "poster_path": "/5MkZjRnCKiIGn3bkXrXfndEzqOU.jpg",
                          "season_number": 3,
                          "vote_average": 8.2
                        },
                        {
                          "air_date": "2014-04-06",
                          "episode_count": 10,
                          "id": 3628,
                          "name": "Season 4",
                          "overview": "The War of the Five Kings is drawing to a close, but new intrigues and plots are in motion, and the surviving factions must contend with enemies not only outside their ranks, but within.",
                          "poster_path": "/jXIMScXE4J4EVHUba1JgxZnWbo4.jpg",
                          "season_number": 4,
                          "vote_average": 8.4
                        },
                        {
                          "air_date": "2015-04-12",
                          "episode_count": 10,
                          "id": 62090,
                          "name": "Season 5",
                          "overview": "The War of the Five Kings, once thought to be drawing to a close, is instead entering a new and more chaotic phase. Westeros is on the brink of collapse, and many are seizing what they can while the realm implodes, like a corpse making a feast for crows.",
                          "poster_path": "/7Q1Hy1AHxAzA2lsmzEMBvuWTX0x.jpg",
                          "season_number": 5,
                          "vote_average": 8.2
                        },
                        {
                          "air_date": "2016-04-24",
                          "episode_count": 10,
                          "id": 71881,
                          "name": "Season 6",
                          "overview": "Following the shocking developments at the conclusion of season five, survivors from all parts of Westeros and Essos regroup to press forward, inexorably, towards their uncertain individual fates. Familiar faces will forge new alliances to bolster their strategic chances at survival, while new characters will emerge to challenge the balance of power in the east, west, north and south.",
                          "poster_path": "/p1udLh0gfqyZFmXBGa393gk8go5.jpg",
                          "season_number": 6,
                          "vote_average": 8.3
                        },
                        {
                          "air_date": "2017-07-16",
                          "episode_count": 7,
                          "id": 81266,
                          "name": "Season 7",
                          "overview": "The long winter is here. And with it comes a convergence of armies and attitudes that have been brewing for years.",
                          "poster_path": "/oX51n32QyHeFP5kErksemJsJljL.jpg",
                          "season_number": 7,
                          "vote_average": 8.2
                        },
                        {
                          "air_date": "2019-04-14",
                          "episode_count": 6,
                          "id": 107971,
                          "name": "Season 8",
                          "overview": "The Great War has come, the Wall has fallen and the Night King's army of the dead marches towards Westeros. The end is here, but who will take the Iron Throne?",
                          "poster_path": "/3OcQhbrecf4F4pYss2gSirTGPvD.jpg",
                          "season_number": 8,
                          "vote_average": 6.5
                        }
                      ],
                      "spoken_languages": [
                        {
                          "english_name": "English",
                          "iso_639_1": "en",
                          "name": "English"
                        }
                      ],
                      "status": "Ended",
                      "tagline": "Winter Is Coming",
                      "type": "Scripted",
                      "vote_average": 8.438,
                      "vote_count": 21390
                    }
              schema:
                type: object
                properties:
                  adult:
                    type: boolean
                    example: false
                    default: true
                  backdrop_path:
                    type: string
                    example: /6LWy0jvMpmjoS9fojNgHIKoWL05.jpg
                  created_by:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 9813
                          default: 0
                        credit_id:
                          type: string
                          example: 5256c8c219c2956ff604858a
                        name:
                          type: string
                          example: David Benioff
                        gender:
                          type: integer
                          example: 2
                          default: 0
                        profile_path:
                          type: string
                          example: /xvNN5huL0X8yJ7h3IZfGG4O2zBD.jpg
                  episode_run_time:
                    type: array
                    items:
                      type: integer
                      example: 60
                      default: 0
                  first_air_date:
                    type: string
                    example: '2011-04-17'
                  genres:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 10765
                          default: 0
                        name:
                          type: string
                          example: Sci-Fi & Fantasy
                  homepage:
                    type: string
                    example: 'http://www.hbo.com/game-of-thrones'
                  id:
                    type: integer
                    example: 1399
                    default: 0
                  in_production:
                    type: boolean
                    example: false
                    default: true
                  languages:
                    type: array
                    items:
                      type: string
                      example: en
                  last_air_date:
                    type: string
                    example: '2019-05-19'
                  last_episode_to_air:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1551830
                        default: 0
                      name:
                        type: string
                        example: The Iron Throne
                      overview:
                        type: string
                        example: >-
                          In the aftermath of the devastating attack on King's
                          Landing, Daenerys must face the survivors.
                      vote_average:
                        type: number
                        example: 4.809
                        default: 0
                      vote_count:
                        type: integer
                        example: 241
                        default: 0
                      air_date:
                        type: string
                        example: '2019-05-19'
                      episode_number:
                        type: integer
                        example: 6
                        default: 0
                      production_code:
                        type: string
                        example: '806'
                      runtime:
                        type: integer
                        example: 80
                        default: 0
                      season_number:
                        type: integer
                        example: 8
                        default: 0
                      show_id:
                        type: integer
                        example: 1399
                        default: 0
                      still_path:
                        type: string
                        example: /zBi2O5EJfgTS6Ae0HdAYLm9o2nf.jpg
                  name:
                    type: string
                    example: Game of Thrones
                  next_episode_to_air: {}
                  networks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 49
                          default: 0
                        logo_path:
                          type: string
                          example: /tuomPhY2UtuPTqqFnKMVHvSb724.png
                        name:
                          type: string
                          example: HBO
                        origin_country:
                          type: string
                          example: US
                  number_of_episodes:
                    type: integer
                    example: 73
                    default: 0
                  number_of_seasons:
                    type: integer
                    example: 8
                    default: 0
                  origin_country:
                    type: array
                    items:
                      type: string
                      example: US
                  original_language:
                    type: string
                    example: en
                  original_name:
                    type: string
                    example: Game of Thrones
                  overview:
                    type: string
                    example: >-
                      Seven noble families fight for control of the mythical
                      land of Westeros. Friction between the houses leads to
                      full-scale war. All while a very ancient evil awakens in
                      the farthest north. Amidst the war, a neglected military
                      order of misfits, the Night's Watch, is all that stands
                      between the realms of men and icy horrors beyond.
                  popularity:
                    type: number
                    example: 346.098
                    default: 0
                  poster_path:
                    type: string
                    example: /1XS1oqL89opfnbLl8WnZY1O1uJx.jpg
                  production_companies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 76043
                          default: 0
                        logo_path:
                          type: string
                          example: /9RO2vbQ67otPrBLXCaC8UMp3Qat.png
                        name:
                          type: string
                          example: Revolution Sun Studios
                        origin_country:
                          type: string
                          example: US
                  production_countries:
                    type: array
                    items:
                      type: object
                      properties:
                        iso_3166_1:
                          type: string
                          example: GB
                        name:
                          type: string
                          example: United Kingdom
                  seasons:
                    type: array
                    items:
                      type: object
                      properties:
                        air_date:
                          type: string
                          example: '2010-12-05'
                        episode_count:
                          type: integer
                          example: 272
                          default: 0
                        id:
                          type: integer
                          example: 3627
                          default: 0
                        name:
                          type: string
                          example: Specials
                        overview:
                          type: string
                          example: ''
                        poster_path:
                          type: string
                          example: /kMTcwNRfFKCZ0O2OaBZS0nZ2AIe.jpg
                        season_number:
                          type: integer
                          example: 0
                          default: 0
                        vote_average:
                          type: integer
                          example: 0
                          default: 0
                  spoken_languages:
                    type: array
                    items:
                      type: object
                      properties:
                        english_name:
                          type: string
                          example: English
                        iso_639_1:
                          type: string
                          example: en
                        name:
                          type: string
                          example: English
                  status:
                    type: string
                    example: Ended
                  tagline:
                    type: string
                    example: Winter Is Coming
                  type:
                    type: string
                    example: Scripted
                  vote_average:
                    type: number
                    example: 8.438
                    default: 0
                  vote_count:
                    type: integer
                    example: 21390
                    default: 0
      deprecated: false
  /3/search/tv:
    get:
      summary: TV
      description: >-
        Search for TV shows by their original, translated and also known as
        names.
      operationId: search-tv
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: first_air_date_year
          in: query
          description: 'Search only the first air date. Valid values are: 1000..9999'
          schema:
            type: integer
            format: int32
        - name: include_adult
          in: query
          schema:
            type: boolean
            default: false
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: year
          in: query
          description: >-
            Search the first air date and all episode air dates. Valid values
            are: 1000..9999
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: >-
                    {"page":1,"results":[{"adult":false,"backdrop_path":"/bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg","genre_ids":[18,80],"id":1396,"origin_country":["US"],"original_language":"en","original_name":"Breaking
                    Bad","overview":"When Walter White, a New Mexico chemistry
                    teacher, is diagnosed with Stage III cancer and given a
                    prognosis of only two years left to live. He becomes filled
                    with a sense of fearlessness and an unrelenting desire to
                    secure his family's financial future at any cost as he
                    enters the dangerous world of drugs and
                    crime.","popularity":298.884,"poster_path":"/ggFHVNu6YYI5L9pCfOacjizRGt.jpg","first_air_date":"2008-01-20","name":"Breaking
                    Bad","vote_average":8.879,"vote_count":11536}],"total_pages":1,"total_results":1}
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 18
                            default: 0
                        id:
                          type: integer
                          example: 1396
                          default: 0
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: US
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: Breaking Bad
                        overview:
                          type: string
                          example: >-
                            When Walter White, a New Mexico chemistry teacher,
                            is diagnosed with Stage III cancer and given a
                            prognosis of only two years left to live. He becomes
                            filled with a sense of fearlessness and an
                            unrelenting desire to secure his family's financial
                            future at any cost as he enters the dangerous world
                            of drugs and crime.
                        popularity:
                          type: number
                          example: 298.884
                          default: 0
                        poster_path:
                          type: string
                          example: /ggFHVNu6YYI5L9pCfOacjizRGt.jpg
                        first_air_date:
                          type: string
                          example: '2008-01-20'
                        name:
                          type: string
                          example: Breaking Bad
                        vote_average:
                          type: number
                          example: 8.879
                          default: 0
                        vote_count:
                          type: integer
                          example: 11536
                          default: 0
                  total_pages:
                    type: integer
                    example: 1
                    default: 0
                  total_results:
                    type: integer
                    example: 1
                    default: 0
      deprecated: false
  /3/search/multi:
    get:
      summary: Multi
      description: >-
        Use multi search when you want to search for movies, TV shows and people
        in a single request.
      operationId: search-multi
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: include_adult
          in: query
          schema:
            type: boolean
            default: false
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: >-
                    {"page":1,"results":[{"adult":false,"backdrop_path":"/aDYSnJAK0BTVeE8osOy22Kz3SXY.jpg","id":11,"title":"Star
                    Wars","original_language":"en","original_title":"Star
                    Wars","overview":"Princess Leia is captured and held hostage
                    by the evil Imperial forces in their effort to take over the
                    galactic Empire. Venturesome Luke Skywalker and dashing
                    captain Han Solo team together with the loveable robot duo
                    R2-D2 and C-3PO to rescue the beautiful princess and restore
                    peace and justice in the
                    Empire.","poster_path":"/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg","media_type":"movie","genre_ids":[12,28,878],"popularity":78.047,"release_date":"1977-05-25","video":false,"vote_average":8.208,"vote_count":18528},{"adult":false,"backdrop_path":"/iflKt34Ck2JpY2PY9wW1zwdJgJi.jpg","id":782054,"title":"Doraemon:
                    Nobita's Little Star Wars
                    2021","original_language":"ja","original_title":"映画ドラえもん
                    のび太の宇宙小戦争 2021","overview":"One day during summer vacation,
                    a palm-sized alien named Papi appears from a small rocket
                    that Nobita picks up. He is the president of Pirika, a small
                    planet in outer space, and has come to Earth to escape the
                    rebels. Doraemon and his friends are puzzled by Papi’s small
                    size, but as they play together using the secret tool “Small
                    Light”, they gradually become friends. However, a
                    whale-shaped space battleship comes to earth and attacks
                    Doraemon, Nobita and the others in order to capture Papi.
                    Feeling responsible for getting everyone involved, Papi
                    tries to stand up to the rebels. Doraemon and his friends
                    leave for the planet Pirika to protect their dear friend and
                    his
                    home.","poster_path":"/48gKZioIDeUOI0afbYv3kh9u9RQ.jpg","media_type":"movie","genre_ids":[16,878,12],"popularity":33.466,"release_date":"2022-03-04","video":false,"vote_average":5.825,"vote_count":60},{"adult":false,"backdrop_path":"/ajztm40qDPqMONaSJhQ2PaNe2Xd.jpg","id":83867,"name":"Star
                    Wars: Andor","original_language":"en","original_name":"Star
                    Wars: Andor","overview":"The tale of the burgeoning
                    rebellion against the Empire and how people and planets
                    became involved. In an era filled with danger, deception and
                    intrigue, Cassian Andor embarks on the path that is destined
                    to turn him into a rebel
                    hero.","poster_path":"/59SVNwLfoMnZPPB6ukW6dlPxAdI.jpg","media_type":"tv","genre_ids":[10765,10759,10768,18],"popularity":87.697,"first_air_date":"2022-09-21","vote_average":8.223,"vote_count":671,"origin_country":["US"]},{"adult":false,"backdrop_path":"/7Q0diljpwSnUuHfxrZmexxztrEZ.jpg","id":114478,"name":"Star
                    Wars:
                    Visions","original_language":"ja","original_name":"スター・ウォーズ：ビジョンズ","overview":"An
                    anthology series of animated short films celebrating Star
                    Wars through the lens of the world's best anime
                    creators.","poster_path":"/8yECMpsZ8wAvra4Sow6Bz9WOO5f.jpg","media_type":"tv","genre_ids":[16,10765,10759],"popularity":32.764,"first_air_date":"2021-09-22","vote_average":7.304,"vote_count":237,"origin_country":["JP","US"]},{"adult":false,"backdrop_path":"/m6eRgkR1KC6Mr6gKx6gKCzSn6vD.jpg","id":4194,"name":"Star
                    Wars: The Clone
                    Wars","original_language":"en","original_name":"Star Wars:
                    The Clone Wars","overview":"Yoda, Obi-Wan Kenobi, Anakin
                    Skywalker, Mace Windu and other Jedi Knights lead the Grand
                    Army of the Republic against the droid army of the
                    Separatists.","poster_path":"/e1nWfnnCVqxS2LeTO3dwGyAsG2V.jpg","media_type":"tv","genre_ids":[10759,16,10765],"popularity":93.955,"first_air_date":"2008-10-03","vote_average":8.48,"vote_count":1649,"origin_country":["US"]},{"adult":false,"backdrop_path":"/sjxtIUCWR74yPPcZFfTsToepfWm.jpg","id":105971,"name":"Star
                    Wars: The Bad
                    Batch","original_language":"en","original_name":"Star Wars:
                    The Bad Batch","overview":"The 'Bad Batch' of elite and
                    experimental clones make their way through an ever-changing
                    galaxy in the immediate aftermath of the Clone
                    Wars.","poster_path":"/5Q6z9bjy8dHKA5T8kNmCd8hj6Gl.jpg","media_type":"tv","genre_ids":[16,10759,10765],"popularity":56.538,"first_air_date":"2021-05-04","vote_average":8.334,"vote_count":738,"origin_country":["US"]},{"adult":false,"backdrop_path":"/AdJgkXb8oLI8e4rsk8XzkvABIuw.jpg","id":60554,"name":"Star
                    Wars Rebels","original_language":"en","original_name":"Star
                    Wars Rebels","overview":"Set between the events of Star
                    Wars: Episodes III and IV, the story unfolds during a dark
                    time when the evil Galactic Empire is tightening its grip of
                    power on the galaxy. Imperial forces have occupied a remote
                    planet and are ruining the lives of its people. The motley
                    but clever crew of the starship Ghost — cowboy Jedi Kanan,
                    ace pilot Hera, street-smart teenager Ezra, the “muscle”
                    Zeb, warrior firebrand Sabine, and cantankerous old
                    astromech droid Chopper — is among a select few who are
                    brave enough to stand against the Empire. Together, they
                    will face threatening new villains, encounter colorful
                    adversaries, embark on thrilling adventures, and become
                    heroes with the power to ignite a
                    rebellion.","poster_path":"/vOUxo5sfXyQPIoF8rtYK1OVVBPi.jpg","media_type":"tv","genre_ids":[10759,16,10765],"popularity":57.151,"first_air_date":"2014-10-13","vote_average":7.667,"vote_count":650,"origin_country":["US"]},{"adult":false,"backdrop_path":"/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg","id":140607,"title":"Star
                    Wars: The Force
                    Awakens","original_language":"en","original_title":"Star
                    Wars: The Force Awakens","overview":"Thirty years after
                    defeating the Galactic Empire, Han Solo and his allies face
                    a new threat from the evil Kylo Ren and his army of
                    Stormtroopers.","poster_path":"/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg","media_type":"movie","genre_ids":[12,28,878,14],"popularity":54.208,"release_date":"2015-12-15","video":false,"vote_average":7.3,"vote_count":17946},{"adult":false,"backdrop_path":"/jOzrELAzFxtMx2I4uDGHOotdfsS.jpg","id":181812,"title":"Star
                    Wars: The Rise of
                    Skywalker","original_language":"en","original_title":"Star
                    Wars: The Rise of Skywalker","overview":"The surviving
                    Resistance faces the First Order once again as the journey
                    of Rey, Finn and Poe Dameron continues. With the power and
                    knowledge of generations behind them, the final battle
                    begins.","poster_path":"/db32LaOibwEliAmSL2jjDF6oDdj.jpg","media_type":"movie","genre_ids":[12,28,878],"popularity":57.195,"release_date":"2019-12-18","video":false,"vote_average":6.389,"vote_count":8671},{"adult":false,"backdrop_path":"/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg","id":181808,"title":"Star
                    Wars: The Last
                    Jedi","original_language":"en","original_title":"Star Wars:
                    The Last Jedi","overview":"Rey develops her newly discovered
                    abilities with the guidance of Luke Skywalker, who is
                    unsettled by the strength of her powers. Meanwhile, the
                    Resistance prepares to do battle with the First
                    Order.","poster_path":"/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg","media_type":"movie","genre_ids":[12,28,878],"popularity":47.022,"release_date":"2017-12-13","video":false,"vote_average":6.8,"vote_count":13924},{"adult":false,"backdrop_path":null,"id":432134,"title":"Star
                    Wars: Heroes \u0026
                    Villains","original_language":"en","original_title":"Star
                    Wars: Heroes \u0026 Villains","overview":"A look at the
                    creation and filming of the various heroes and villains from
                    all six Star Wars movies, leading up to the release of Star
                    Wars: Episode III - Revenge of the
                    Sith.","poster_path":"/uPlEvzDy4lez92nEhUt3UFJOoQ6.jpg","media_type":"movie","genre_ids":[99],"popularity":2.851,"release_date":"2005-05-03","video":false,"vote_average":9.438,"vote_count":8},{"adult":false,"backdrop_path":"/ojHCeDULAkQK25700fhRU75Tur2.jpg","id":348350,"title":"Solo:
                    A Star Wars
                    Story","original_language":"en","original_title":"Solo: A
                    Star Wars Story","overview":"Through a series of daring
                    escapades deep within a dark and dangerous criminal
                    underworld, Han Solo meets his mighty future copilot
                    Chewbacca and encounters the notorious gambler Lando
                    Calrissian.","poster_path":"/3IGbjc5ZC5yxim5W0sFING2kdcz.jpg","media_type":"movie","genre_ids":[878,12,28],"popularity":34.732,"release_date":"2018-05-15","video":false,"vote_average":6.6,"vote_count":7651},{"adult":false,"backdrop_path":"/6t8ES1d12OzWyCGxBeDYLHoaDrT.jpg","id":330459,"title":"Rogue
                    One: A Star Wars
                    Story","original_language":"en","original_title":"Rogue One:
                    A Star Wars Story","overview":"A rogue band of resistance
                    fighters unite for a mission to steal the Death Star plans
                    and bring a new hope to the
                    galaxy.","poster_path":"/i0yw1mFbB7sNGHCs7EXZPzFkdA1.jpg","media_type":"movie","genre_ids":[28,12,878],"popularity":34.32,"release_date":"2016-12-14","video":false,"vote_average":7.5,"vote_count":13977},{"adult":false,"backdrop_path":"/wDe8LzwuvHYYiuwyNfxdYQq8ti4.jpg","id":1893,"title":"Star
                    Wars: Episode I - The Phantom
                    Menace","original_language":"en","original_title":"Star
                    Wars: Episode I - The Phantom Menace","overview":"Anakin
                    Skywalker, a young slave strong with the Force, is
                    discovered on Tatooine. Meanwhile, the evil Sith have
                    returned, enacting their plot for revenge against the
                    Jedi.","poster_path":"/6wkfovpn7Eq8dYNKaG5PY3q2oq6.jpg","media_type":"movie","genre_ids":[12,28,878],"popularity":31.5,"release_date":"1999-05-19","video":false,"vote_average":6.5,"vote_count":13124},{"adult":false,"backdrop_path":"/dUkCHy02dtFWQwyCKQKlf1sRm0D.jpg","id":161704,"title":"Doraemon:
                    Nobita's Little Star
                    Wars","original_language":"ja","original_title":"映画ドラえもん
                    のび太の宇宙小戦争","overview":"Papi, the tiny president of a faraway
                    planet, escapes to Earth to avoid being captured by the
                    military forces that took over. Despite being welcomed by
                    Doraemon, Nobita and their friends, the little alien notices
                    that his enemies have also reached this world and doesn't
                    want to get his human friends involved in this war.
                    Doraemon, Nobita, Gian, Suneo, and Shizuka start a big
                    adventure as they try to hide and protect
                    Papi.","poster_path":"/oLXqorJ3CtXkR90wCBkg4WnITL3.jpg","media_type":"movie","genre_ids":[16,12,10751,14,878],"popularity":9.276,"release_date":"1985-03-16","video":false,"vote_average":7.444,"vote_count":18},{"adult":false,"backdrop_path":"/dVTvzp1PEnvloYy7qzYCFeAkPQ3.jpg","id":203085,"name":"Star
                    Wars: Tales of the
                    Jedi","original_language":"en","original_name":"Star Wars:
                    Tales of the Jedi","overview":"Journey into the lives of two
                    distinctly different Jedi from the prequel era – Ahsoka Tano
                    and Count Dooku. Each will be put to the test as they make
                    choices that will define their
                    destinies.","poster_path":"/9gshOJpjmZaUGM1En5wR1V1fcBE.jpg","media_type":"tv","genre_ids":[16,10765],"popularity":35.917,"first_air_date":"2022-10-26","vote_average":8.102,"vote_count":172,"origin_country":["US"]},{"adult":false,"backdrop_path":"/dKH2l6WrrYS3tGp4JD3Y0AtVzPu.jpg","id":101978,"name":"Disney
                    Gallery / Star Wars: The
                    Mandalorian","original_language":"en","original_name":"Disney
                    Gallery / Star Wars: The Mandalorian","overview":"Executive
                    producer Jon Favreau invites the cast and crew of The
                    Mandalorian to share an unprecedented look at the making of
                    the series. Each chapter explores a different facet of the
                    first live-action Star Wars television show through
                    interviews, never-before-seen footage, and roundtable
                    conversations hosted by Favreau
                    himself.","poster_path":"/6Hc2eHp59iTyMqkhcumNovq2l6y.jpg","media_type":"tv","genre_ids":[99],"popularity":39.403,"first_air_date":"2020-05-04","vote_average":7.3,"vote_count":45,"origin_country":["US"]},{"adult":false,"backdrop_path":"/xEdnGUc8KeZ7h0eEgSN3ERhjgL0.jpg","id":12180,"title":"Star
                    Wars: The Clone
                    Wars","original_language":"en","original_title":"Star Wars:
                    The Clone Wars","overview":"As the Clone Wars sweep through
                    the galaxy, the heroic Jedi Knights struggle to maintain
                    order and restore peace. More and more systems are falling
                    prey to the forces of the dark side as the Galactic Republic
                    slips further and further under the sway of the Separatists
                    and their never-ending droid army. Anakin Skywalker and his
                    Padawan learner Ahsoka Tano find themselves on a mission
                    with far-reaching consequences, one that brings them
                    face-to-face with crime lord Jabba the Hutt. But Count Dooku
                    and his sinister agents, including the nefarious Asajj
                    Ventress, will stop at nothing to ensure that Anakin and
                    Ahsoka fail at their quest. Meanwhile, on the front lines of
                    the Clone Wars, Obi-Wan Kenobi and Master Yoda lead the
                    massive clone army in a valiant effort to resist the forces
                    of the dark
[...]
